.profile_main {
  height: 100vh;
  background-color: #110011;
}
.profile_head {
  // background: #01b0ff;
  background-image: linear-gradient(to top, rgb(24, 113, 172), #5dbdee);

  padding-bottom: 2rem;
}
.profile_title {
  height: 50px;
  padding: 15px;

  .MuiSvgIcon-root {
    position: absolute;
    width: 2em;
    height: 2em;
    color: #fff;
  }
}
.profile_subtitle {
  padding-top: 0.75rem;
  font-size: 22px;
  color: #fff;
  text-align: center;
}
.profile_body {
  background-color: #110011;
  border-radius: 15px 15px 0 0;
}
.profile_details {
  color: #fff;
  padding: 10%;
  .MuiTextField-root {
    width: 100%;
    border-bottom: 2px solid #fff;
    margin-bottom: 2rem;
  }
  .MuiInputLabel-root {
    font-size: 20px;
    color: #fff;
  }
  .MuiInputLabel-root.Mui-focused {
    color: #fff;
  }
  .MuiInput-root {
    color: #fff;
  }
  .MuiInput-root:after {
    border-bottom: none;
  }
}
.profile_top {
  flex: 0.12;
  padding: 10px;
}
.profile_top_sub {
  height: 50px;

  .MuiSvgIcon-root {
    position: absolute;
    width: 2em;
    height: 2em;
    color: #fff;
  }
}

.profile_bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px 20px 0 0;
  flex: 0.88;
  background-color: #110011;
  .MuiDivider-root {
    background-color: #d7d6d1;
  }
}
.profile_avatar {
  margin-top: -3.5rem;
}

.profile_subdata {
  padding: 20px;
  display: flex;
  align-items: center;
}
// .changePassword {
//   background: #01b0ff;

//   min-height: 30px;
//   border-width: 0;
//   border-radius: 30px;
//   outline: none;
//   padding: 10px 20px;
// }

.logout {
  border-width: 0;
  background: linear-gradient(180deg, #fac000 0%, rgb(225, 133, 21) 100%);
  position: absolute;
  margin-top: 0.6rem;
  right: 0;
  padding: 5px 15px;
  font-size: 16px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  color: #fff;
}
.reward_refer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rewards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // padding: 20px;
  // flex: 0.5;
}
.referred {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // padding: 20px;
  // flex: 0.5;
}
.rewards_title {
  color: #fff;
}
.coin {
  text-align: center;
}

.changePassword {
  width: 11rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  appearance: button;
  background-color: transparent;
  background-image: linear-gradient(to bottom, rgb(212, 238, 244), #5dbdee);
  box-shadow: rgb(75, 138, 201) 0px 3px 10px;
  border: 0 solid #88a8e8;
  border-radius: 1rem;
  box-sizing: border-box;
  color: #031e3c;
  column-gap: 1rem;
  cursor: pointer;
  display: flex;

  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  outline: 2px solid transparent;

  text-align: center;
  text-transform: none;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.changePassword:active {
  transform: translateY(0.125rem);
}
