.otp-input {
  // background-color: #fac00098;
  .MuiDialog-paper {
    padding: 20px 13px 20px 13px;
    border-radius: 15px;
    background-color: #110011;
    color: white;
  }

  .otp-input-field {
    input {
      background-color: #01b0ff;
      background-color: #3d4562;
      height: 3rem;
      width: 2rem !important;
      border-width: 0;
      margin: 0.3rem;
      margin-bottom: 2rem;
      border-radius: 10px;
      color: #fff;
    }
  }

  button {
    background: #01b0ff;
    padding: 10px;
    border-width: 0;
    border-radius: 5px;
    outline: none;
    margin: auto;
    width: 10rem;
  }
}

.otp-input-title {
  margin: 1rem 0 2rem 0;
}

.otp-submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
