.contact__option {
  background-color: #2f354b;
  color: #01b0ff;
  padding: 10px;
  border-radius: 50% 5px;
  bottom: 1.5rem;
  position: fixed;
  left: 44%;
  border: 1px solid #000;
  .contact__option-icon {
    font-size: 20px;
  }
}
