.home_container {
  background-color: #000;
}
.home_header {
  height: 2rem;
  padding: 20px;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
