.home_header {
  height: 5rem;
  padding: 20px;
  color: #110011;
  // background-color: #01b0ff;
  background-image: linear-gradient(to top, rgb(24, 113, 172), #5dbdee);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.home_header_menuicon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 50%;
  width: 37px;
  height: 37px;
  .MuiSvgIcon-root {
    width: 25px;
  }
}
