.contactus_main {
  height: 100vh;
  background-color: #110011;
}
.contactus_head {
  background-image: linear-gradient(to top, rgb(24, 113, 172), #5dbdee);

  padding-bottom: 2rem;
}
.contactus_title {
  height: 50px;
  padding: 15px;

  .MuiSvgIcon-root {
    position: absolute;
    width: 2em;
    height: 2em;
    color: #fff;
  }
}
.contactus_subtitle {
  padding-top: 0.75rem;
  font-size: 22px;
  color: #fff;
  text-align: center;
}
.contactus_text {
  color: #fff;
  text-align: center;
  padding: 1rem;
}
.contactus_body {
  background-color: #110011;
  border-radius: 15px 15px 0 0;
}
.contactus_details {
  color: #fff;
  padding: 2rem;
  font-size: 22px;
  text-align: center;
}

.contactus_subdata {
  padding: 20px;
  display: flex;
  align-items: center;
}

.logout {
  border-width: 0;
  background: linear-gradient(180deg, #fac000 0%, rgb(225, 133, 21) 100%);
  position: absolute;
  margin-top: 0.6rem;
  right: 0;
  padding: 5px 15px;
  font-size: 16px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  color: #fff;
}
.reward_refer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rewards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // padding: 20px;
  // flex: 0.5;
}
.referred {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // padding: 20px;
  // flex: 0.5;
}
.rewards_title {
  color: #fff;
}
.coin {
  text-align: center;
}
.term_title {
  color: #fff;
  text-align: center;
  font-size: 23px;
  font-weight: 600;
}
