.third_party_transaction_main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #191718;
}
.third_party_transaction_head {
  background-image: linear-gradient(to top, rgb(24, 113, 172), #5dbdee);

  padding-bottom: 2rem;
}

.third_party_transaction_title {
  height: 50px;
  padding: 15px;

  .MuiSvgIcon-root {
    position: absolute;
    width: 2em;
    height: 2em;
    color: #fff;
  }
}

.third_party_transaction_subtitle {
  padding-top: 0.75rem;
  font-size: 22px;
  color: #fff;
  text-align: center;
}

.third_party_transaction_form {
  padding: 0 30px 30px 30px;
  margin-top: 4rem;
}

.third_party_transaction_form_container {
  .MuiTextField-root {
    width: 100%;
    border-bottom: 2px solid #fff;
    margin-bottom: 1rem;
  }
  .MuiInputLabel-root {
    color: #fff;
  }
  .MuiInputLabel-root.Mui-focused {
    color: #fff;
  }
  .MuiInput-root {
    color: #fff;
  }
  .MuiInput-root:after {
    border-bottom: none;
  }
  .MuiFormLabel-root.Mui-error {
    color: #fff;
  }
}
.third_party_transaction_button_div {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.third_party_transaction_button {
  margin: auto;
  width: 11rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  appearance: button;
  background-color: transparent;
  background-image: linear-gradient(to bottom, rgb(212, 238, 244), #5dbdee);
  box-shadow: rgb(75, 138, 201) 0px 3px 10px;
  border: 0 solid #88a8e8;
  border-radius: 1rem;
  box-sizing: border-box;
  color: #031e3c;
  column-gap: 1rem;
  cursor: pointer;
  display: flex;
  font-size: 17px;
  font-weight: 600;
  line-height: 24px;
  outline: 2px solid transparent;
  text-align: center;
  text-transform: none;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.third_party_transaction_button:active {
  transform: translateY(0.125rem);
}
